html, body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
/* I'm hiding this so I can see what my nav bar looks like */
#fcc_test_suite_indicator {
  display: none;
}
header {
  position:fixed;
  top: 0px;
  width: 100%;
  height: 50px;
  background-color: #4b341b;
  color: white;
}
main {
  background-color: #ebd9c6;
  color: #4b341b;
}
#features {
  margin-top: 40px;
}
#nav-bar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
#header-img { 
  max-width: 40px;
  max-height: 40px;
  display: block; 
  height: auto;
  margin: 0 10px 0 10px;
}
#title {
  margin-right: auto;
  font-size: 16px;
  font-weight: bold;
}
.nav-link {
  margin: 0 10px 0 10px;
  color: white;
  text-decoration: none;
}
.nav-link:visited {
  color: white;
  text-decoration: none;
}
.nav-link:hover {
  text-decoration: underline;
  color: #cc6600;
}
:target {
	padding-top: 20px;
}
@media screen and (max-width: 595px) {
  header {
    height: 85px;
  }
  #features {
  margin-top: 85px;
}
  #nav-bar {
    justify-content: center;
  }
  #header-img {
    margin-left: auto;
  }
  #break {
    flex-basis: 100%;
  }
  .nav-link {
  margin: 0 5px 0 5px;
  }
  :target {
	padding-top: 50px;
  }
}
h1 {
  padding: 10px;
  font-size: 36px;
  text-align: center;
}
ul {
  list-style-type: none;
}
li {
  padding: 5px 60px 5px 20px;
  font-size: 18px;
}
.text {
  padding: 5px 60px;
  font-size: 18px;
}
#video {
  display: block;
  margin: auto;
  max-width: 100vw;
  max-height: 56.25vw;
}
#order-link {
  color: #4b341b;
}
#order-link:hover {
  color: #000066;
}
.guitar {
  max-width: 90%; 
  display: block; 
  height: auto;
  margin: 10px;
}
h2 {
  margin: 0;
  color: white;
  background-color: #cc6600;
}
#priceFlex {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
}
.guitarFlex {
  flex-basis: 300px;
  min-width: 250px;
  border: 2px solid #4b341b;
  border-radius: 5px;
  margin:  5px 40px;
  box-shadow: 10px 10px 5px 0px rgba(75,52,27,.75);
}
#form {
  padding: 20px 0px 100px 0px;
  width: 300px;
  margin: 0 auto;
}
#email {
  padding: 5px 5px;
  box-sizing: border-box;
}
.space {
  height: 20px;
}
#submit {
  background-color: #cc6600;
  border: none;
  color: white;
  padding: 10px 25px;
  border-radius: 3px;
  cursor: pointer;
  display:block;
  margin: 0px auto;
  font-size: 14px;
}